<!--<h2>Edit Event</h2>
<form action="/events/{{event._id}}/edit" method="post">
    <label>Name:</label>
    <input type="text" name="name" value="{{event.name}}" required>
    <label>Description:</label>
    <input type="text" name="description" value="{{event.description}}" required>
    <label>Image:</label>
    <input type="text" name="image" value="{{event.img}}">
    <button type="submit">Update Event</button>
</form> -->

<h1 class="text-center text-white">Edit Event</h1>
<div class="row d-flex justify-content-center">
  <div class="col-lg-4 d-flex justify-content-center align-items-center">
    <div class="card bg-dark text-white p-3">
      <form action="/events/{{event._id}}/edit" method="post">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" value="{{event.name}}" class="form-control mb-3 bg-dark text-white" required>
        <label for="description" class="form-label">Description</label>
        <input type="text" name="description" id="description" value="{{event.description}}" class="form-control mb-3 bg-dark text-white" required>
        <button type="submit" class="btn btn-primary align-self-center">Update Event</button>
      </form>
    </div>
  </div>
</div>
