<div class="container mt-5">
    <div class="card text-white bg-dark mb-3">
        <div class="card-body">
            <h1 class="card-title">{{event.name}}</h1>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">Location: {{event.location}}</p>
            <p class="card-text">Date: {{date}}</p>
            <p class="card-text">Time: {{time}}</p>
            <img src="{{event.img}}" width="500" height="500" class="img-fluid" alt="{{event.name}}">
            <h3 class="mt-3">Created by: <span class="text-light">{{event.user.alias}}</span></h3>

            <div class="mt-4">
                <form action="/events/{{event._id}}/delete" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete Event</button>
                </form>
                <a href="/events/edit/{{event._id}}" class="btn btn-warning ml-2">Modify Event</a>
            </div> 
        </div>
    </div>
</div>

<!--bg-primary para el fondo de la card en azul, 
bg-dark para que sea negro claro, 
secondary en gris, 
success en verde, 
danger en rojo, 
warning amarillo, 
info azul claro y 
light en gris claro
lo mismo para los buttons-->