<div class="container mt-5">
    <div class="card text-white bg-dark mb-3"></div>
        <div class="card-body">
            <h1 class="card-title">{{event.name}}</h1>
            <p class="card-text">{{event.description}}</p>
            <img src="{{event.img}}" width="500" height="500" class="img-fluid" alt="{{event.name}}">
            <h3 class="mt-3">Created by: <span class="text-light">{{event.user.alias}}</span></h3>
        </div>
         <form action="/events/{{event._id}}/likes" method="post" class="mt-3">
                <button type="submit" class="btn btn-primary">
                    Like Event ({{event.likes.length}})
                </button>
            </form>

            <form action="/events/{{event._id}}/comment" method="post" class="mt-3">
                <textarea name="text" placeholder="Write your comment here" class="form-control mb-2"></textarea>
                <button type="submit" class="btn btn-secondary">Add Comment</button>
            </form>
            <h2 class="mt-5">Comments</h2>
           <ul class="list-unstyled">
            {{#each event.comments}}
            <li class="mb-3">
                <p>{{this.text}}</p>
                <p>Commented by: <span class="text-light">{{this.user.alias}}</span></p> 
                <form action="/comments/{{this.:id}}/likes" method="post">
                    <button type="submit" class="btn btn-primary">
                        Like Comment ({{this.likes.length}})
                    </button>
                </form>
            </li>
            {{/each}}
           </ul>
    </div>
</div>

