<div class="container mt-5">
    <div class="card text-white bg-dark mb-3"></div>
        <div class="card-body">
            <h1 class="card-title">{{event.name}}</h1>
            <p class="card-text">{{event.description}}</p>
            <img src="{{event.img}}" width="500" height="500" class="img-fluid" alt="{{event.name}}">
            <h3 class="mt-3">Created by: <span class="text-light">{{event.user.alias}}</span></h3>
        </div>
    </div>
</div>

