<h1>Hello {{user.alias}} </h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="User Name">
                <div class="card-img-top" alt="User Image">
                    <div class="card-body">
                        <h5 class="card-title">User name: {{user.username}}</h5>
                        <h5 class="card-title">Alias: {{user.alias}}</h5>
                        <h5 class="card-title">Email: {{user.email}}</h5>
                        <a href="/users/edit/{{user._id}}" class="btn btn-primary">Modify User Name</a>
                        <form action="/users/{{user._id}}/delete" method="post" style="display:inline;">
                            <button class="btn btn-danger" type="submit">Delete User</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>