<h1>Hello {{user.alias}} </h1>


<p> Name: </p>
<h5>{{user.username}}</h5>
<p> Alias: </p>
<h5>{{user.alias}}</h5>
<p> Email: </p>
<h5>{{user.email}}</h5>

<h3>User: {{user.alias}}</h3>

<form action="/users/{{user._id}}/delete" method="post">
    <button type="submit">Delete User</button>
</form>

<a href="/edit-profile/{{user._id}}">Modify User</a>